body {
    background-color: #404040;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: white;
}

.brand {
    font-size: xx-large;
}